In [1]:
import pandas as pd

In [2]:
print('Teste Jupyter')

Teste Jupyter

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Dados.csv',sep';')

SyntaxError: invalid syntax (<ipython-input-4-e8cc512391e2>, line 1)

In [5]:
df = pd.read_csv('Dados.csv',sep';')

SyntaxError: invalid syntax (<ipython-input-5-e8cc512391e2>, line 1)

In [6]:
df = pd.read_csv('Dados.csv', sep=';', header = 0, encoding = 'UTF-8', usecols =['AddressID','AddressLine1','City','PostalCode'])

In [7]:
df

     AddressID                 AddressLine1            City PostalCode
0            1                1970 Napa Ct.         Bothell      98011
1            2           9833 Mt. Dias Blv.         Bothell      98011
2            3         7484 Roundtree Drive         Bothell      98011
3            4             9539 Glenside Dr         Bothell      98011
4            5                1226 Shoe St.         Bothell      98011
..         ...                          ...             ...        ...
995        996         2575 West 2700 South  Salt Lake City      84101
996        997     70259 West Sunnyview Ave         Visalia      93291
997        998           60750 San Clemente         Hayward      94541
998        999                    Receiving       Fullerton      92831
999       1000  22555 Paseo De Las Americas       San Diego      92102

[1000 rows x 4 columns]

In [ ]:
df['AddressID']

In [ ]:
filtrada = df['AddressID'],df['City']

In [ ]:
filtrada

In [ ]:
dados = {
    'times': ['Corinthians','Flamengo','Sport']
    'estados': ['São Paulo','Rio de Janeiro','Recife']
    'titulos': [12,15,2]
}

In [ ]:
dados = {
    'times'=['Corinthians','Flamengo','Sport']
    'estados'=['São Paulo','Rio de Janeiro','Recife']
    'titulos'=[12,15,2]
}

In [ ]:
dados = {
'times':['Corinthians','Flamengo','Sport'],
'estados':['São Paulo','Rio de Janeiro','Recife'],
'titulos':[12,15,2]
}

In [ ]:
dados = {
'times':['Corinthians','Flamengo','Sport'],
'estados':['São Paulo','Rio de Janeiro','Recife'],
'titulos':[12,15,2]
}

In [ ]:
df = DataFrame(dados)

In [ ]:
df = pd.DataFrame(dados)

In [ ]:
print(df)

In [ ]:
df = pd.DataFrame(dados, columns=['times', 'estados','titulos'])

In [ ]:
print(df)